<h1> List of users to add as friend </h1><br></br>


<%form_tag add_as_friend_users_path do %>
  <table border="1">
    <tr>
      <th>choose</th>
      <th>name</th>
      <th>email</th>
      <th>photo</th>
      
    </tr>
    <%@users.each do |user|%>
      <tr>
            <!--#problem on syntax-->
        <td><%= check_box_tag "friend_ids[]", user.id  %></td>
        <td><%= user.name  %></td>
        <td><%= user.email%></td>
        <!--<td><#%= image_tag user.picture.url,:height=>'50',:width=>'75' %></td>-->
        <td><%=link_to image_tag(user.picture.url,:height=>'50',:width=>'75'), onlyshow_users_path(:id=>user.id) %></td>
      </tr>
    <%end%>
  </table>
  <%= submit_tag 'Add' %>
<%end%>
